[ClassicUI]
# 状態パネルの X 座標
#MainWindowOffsetX=500
# 状態パネルの Y 座標
#MainWindowOffsetY=40
# フォントサイズ
FontSize=12
# フォント
#Font=Sans
# メニューのフォント
#MenuFont=Sans
# 表示するフォントロケール
FontLocale=ja_JP.UTF-8
# システムトレイアイコンを使う
# 可能な値:
# True False
#UseTray=True
# 状態パネルを隠すモード
# 可能な値:
# Show
# Auto
# Hide when tray icon is available
# Hide
#MainWindowHideMode=Hide when tray icon is available
# 候補ウィンドウを縦にする
# 可能な値:
# True False
VerticalList=True
# スキン名
SkinType=material

