[Unit]
Description = EasyEffects daemon
Requires = graphical-session.target
After = graphical-session.target

[Service]
ExecStart = /usr/bin/nohup /usr/bin/easyeffects --gapplication-service
Restart = always
RestartSec = 5
TimeoutStopSec = 15

[Install]
WantedBy = graphical-session.target
