# 最初にすべての階層のファイルを無視します
# 階層は必要なだけ追加する
### all ignore ###
/*
/.**

# .gitignoreは上から解釈されていくので
# 管理対象のファイルをホワイトリストのように追記します
### not ignore ###
!/.zshrc
!/.zshenv
!/.zfunc/
/.zfunc/**  
!/.zsh/
!/.zsh/dircolors
!/.zsh/rc/
!/.zsh/rc/**
!/.zsh/zkbd/
!/.zsh/zkbd/**
!/.zsh/zfunc/
!/.zsh/zfunc/**
!/.zsh/completion/
/.zsh/completion/**
!/.virc
!/.vimrc
!/.vim/
!/.vim/*/
!/.vim/rc/
!/.vim/rc/**
!/.vim/ftplugin/**
!/.vim/ftdetect/**
!/.vim/template/**
!/.vim/snippets/**
!/.vim/after/**
!/.vim/init.vim
!/.vim/coc-settings.json
!/.bin/
!/.bin/**
!/.bin.local
!/.tmux.conf
!/.tmux/
!/.tmux/conf/
!/.tmux/conf/**
!/.tmux/log/
!/.gdbinit
!/.conkycolors/
!/.conkycolors/**
!/.i3/
!/.i3/**
/.i3/config
/.i3/config.local
!/.github/**
!/.ideavimrc
!/.Xmodmap
!/.Xresources
!/.xinitrc
!/.xprofile
!/.xsessionrc
!/.config/alacritty/
!/.config/dunst/
!/.config/i3/
!/.config/polybar/
!/.config/rofi/
!/.config/sway/
!/.config/systemd/
!/.config/tilix/
!/.config/waybar/
!/.config/xkeysnail/
!/.gitignore_global
!/.gitconfig_shared

!/README.md
!/LICENSE
!.gitignore
!.gitkeep
