/* waybar style sheet */

* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Roboto Mono, FontAwesome5Free, FontAwesome5Brands, FiraCode Nerd Font , sans-serif;
    font-size: 24px;
/*    min-height: 24px;*/
}

window#waybar {
/*    background-color: rgba(43, 48, 59, 0.5);*/
    background-color: transparent;
/*    background-color: #21222C;*/
/*    border-bottom: 3px solid #44475A;*/
    color: #f8f8f2;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 30;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #f8f8f2;
}
*/

/*window#waybar.tilix {
    background-color: #3F3F3F;
}

window#waybar.firefox {
    background-color: #000000;
    border: none;
}*/

#workspaces button {
    padding: 0 12px;
    background-color: transparent;
    color: #f8f8f2;
    /* Use box-shadow instead of border so the text isn't offset */
/*   box-shadow: inset 0 -3px transparent;*/
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
/*    background-color: transparent;*/
/*    box-shadow: inset 0 -3px #f8f8f2;*/
    border-radius: 24;
}

#workspaces button.focused {
/*    background-color: #44475A;*/
/*    box-shadow: inset 0 -3px #f8f8f2;*/
    color: #50fa7b
}

#workspaces button.urgent {
    background-color: #ff5555;
}

#mode {
    background: #64727D;
/*    border-bottom: 3px solid #f8f8f2;*/
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#custom-pacman,
#custom-brightness,
#language,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 15px;
/*    margin: 0 4px;*/
    margin: 0 0px;
    color: #f8f8f2;
}

#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#custom-brightness,
#pulseaudio,
#mode,
#mpd {
    background-color: #bd93f9;
    color: #000000;
}

#window,
#workspaces,
#custom-media {
    margin: 0 15px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
/*    background-color: #64727D;*/
  font-size: 36px;
}

#battery {
/*    background-color: #f8f8f2;*/
/*    color: #000000;*/
}

#battery.charging, #battery.plugged {
/*    color: #f8f8f2;
    background-color: #26A65B;*/
}

@keyframes blink {
    to {
        background-color: #f8f8f2;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #ff5555;
    color: #f8f8f2;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#window {
/*    background-color: #8be9fd;*/
/*    color: #282a36;*/
    border-radius: 30;
    padding: 0 25px;
}

#custom-pacman {
    background-color: #44475A;
    border-radius: 25;

}

#workspaces {
/*    min-width: 7em;*/
/*    background-color: #282a36;*/
    border-radius: 30;
    padding: 0 10px;
}

#cpu {
/*    background-color: #50fa7b;*/
    color: #000000;
/*    background-color: #ff79c6;*/
    min-width: 11em;
    border-bottom-left-radius:30;
    border-top-left-radius:30;
    margin-right: 0;
    margin-left: 7px;
    padding-right:0;
}

#temperature {
/*    background-color: #f0932b;*/
    background-color:#ffb86c;
}

#temperature.critical {
    background-color: #ff5555;
}

#memory {
/*    background-color: #9b59b6;*/
    background-color: #ff79c6;
}

#disk {
/*    background-color: #964B00;*/
/*    background-color: #50fa7b;*/
}

#network {
/*    background-color: #2980b9;*/
/*    background-color: #8be9fd;*/
    background-color: #ffb86c;
}

#network.disconnected {
    background-color: #ff5555;
}


#backlight {
    background-color: #90b1b1;
}
#custom-brightness {
    background-color: #ff79c6;
}

#pulseaudio {
    background-color: #ff79c6;
/*    background-color: #bd93f9;*/
    color: #000000;
    border-top-right-radius: 30;
    border-bottom-right-radius: 30;
}
#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#custom-media {
    background-color: #50fa7b;
    color: #2a5c45;
    border-radius: 30;
    padding: 0 15px;
    
}

#custom-media.custom-spotify {
    background-color: #50fa7b;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#idle_inhibitor {
    background-color: #44475A;
    border-radius: 30;
    padding: 12px;
    margin-right: 6px;
    min-width: 30px;
}

#idle_inhibitor.activated {
    background-color: #f8f8f2;
    color: #282a36;
    border-radius: 30;
    padding:12px;
    margin-right: 6px;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #ff5555;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
/*    background: #00b093;*/
/*    color: #740864;*/
    color: #f8f8f2;
    border-radius: 30;
    padding: 0 7px;
    margin: 0 7px;
    min-width: 27px;
}

#tray {
    background-color: #6272a4;
    border-radius: 30;
}
