* {
  font-family: Neuropolitical, Plemol JP Console NF;
  font-size: 30;
}

window {
  margin: 0px;
  border: 2px solid #d9989c;
  background-color: #292433;
  border-radius: 5;
}

#input {
  margin: 10px;
  padding: 10px;
  border: none;
  color: #d9c77e;
  background-color: #211921;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #292433;
}

#outer-box {
  margin: 20px;
  border: none;
  background-color: #292433;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 8px;
  border: none;
  color: #d2ced9;
}

#entry {
  margin: 5px;
  background-color: #292433;
}

#entry:selected {
  background-color: #4e4266;
}

/* #img */

/* #unselected */
