* {
font-family: Neuropol, HackgenNerd;
font-size: 25;
}

window {
margin: 0px;
border: 2px solid #ff5555;
background-color: #282a36;
}

#input {
margin: 8px;
border: none;
color: #8be9fd;
background-color: #44475a;
}

#inner-box {
margin: 8px;
border: none;
background-color: #282a36;
}

#outer-box {
margin: 8px;
border: none;
background-color: #282a36;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 8px;
border: none;
color: #f8f8f2;
} 

#entry:selected {
background-color: #44475a;
}

/* #img */

/* #unselected */
